@model SidcaMrv2.Models.CadConsultaRelevante
@{
    ViewBag.Title = "Create";
}

<h2>Novo Processo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PreCadastroUniverso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger", @value = ViewBag.Expediente })
        <div class="form-group">
            @Html.LabelFor(model => model.Expediente, htmlAttributes: new { @class = "control-label col-md-2",@id="expediente", @value = ViewBag.Expediente })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Expediente, new { htmlAttributes = new { @class = "form-control",@readonly="readonly", @value = $"{ViewBag.Expediente}" } })
                @*<input type="text" disabled name="name" value="@ViewBag.Expediente" class="form-control" />*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConsultaPortal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConsultaPortal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConsultaPortal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
